*.C
*.so
*.pcm
*.d
*.log
*.root
.nfs*
*.dump
*.pdf
*.txt
files/*
!CMakeLists.txt
bin/*
lib/*
bin
lib
scripts
.vscode/*
build/*
*.ipynb
*.sh
*.png
*.gdml
tests/*
install
tests/python_tools/__pycache__/
template_TIGER/bin
template_TIGER/data
template_TIGER/lib
template_TIGER/.vs
