*.C
*.so
*.pcm
*.d
*.log
*.root
.nfs*
*.dump
*.pdf
*.txt
files/*
!CMakeLists.txt
bin/*
lib/*
bin
lib
scripts
.vscode/*
build/*
*.ipynb
*.sh
*.png
*.gdml
install/icons/down.xpm
install/icons/exit.xpm
install/icons/left.xpm
install/icons/next.xpm
install/icons/open.xpm
install/icons/previous.xpm
install/icons/reload.xpm
install/icons/right.xpm
install/icons/save-picture.xpm
install/icons/up.xpm
install/icons/zoom-detector.xpm
install/icons/zoom-event.xpm
install/icons/zoom-in.xpm
install/icons/zoom-out.xpm
install/icons/zoom-vertex.xpm
install/include/Line3D.h
install/include/SANDClustering.h
install/include/SANDClusteringLinkDef.h
install/include/SANDDigitization.h
install/include/SANDDigitizationEDEPSIM.h
install/include/SANDDigitizationFLUKA.h
install/include/SANDDisplayUtils.h
install/include/SANDECALCellInfo.h
install/include/SANDEventDisplay.h
install/include/SANDGeoManager.h
install/include/SANDGeoManagerLinkDef.h
install/include/SANDKalmanFilter.h
install/include/SANDKFIO_LinkDef.h
install/include/SANDKFTrack.h
install/include/SANDTrackerCell.h
install/include/SANDTrackerCluster.h
install/include/SANDTrackerClusterCollection.h
install/include/SANDTrackerClustersContainer.h
install/include/SANDTrackerDigitCollection.h
install/include/SANDTrackerModule.h
install/include/SANDTrackerModuleConfig.h
install/include/SANDTrackerPlane.h
install/include/SANDTrackerUtils.h
install/include/SANDTrackletFinder.h
install/include/SANDWireInfo.h
install/include/struct.h
install/include/StructLinkDef.h
install/include/transf.h
install/include/utils.h
